.m_body{
	display: grid;
	/*grid-template-columns: 150px 1fr 1fr;*/
/*
grid-template-areas: "ga_header ga_header ga_header"  
                       "ga_nav ga_menu ga_menu"  
                       "ga_nav ga_post ga_post"
                       "ga_folder ga_folder ga_folder"; 
  grid-template-rows: 100px 40px 1fr 100px;
  grid-template-columns: repeat(3, 1fr);
*/

grid-template-areas: "ga_header ga_header"  
                       "ga_nav ga_menu"  
                       "ga_nav ga_post"
                       "ga_folder ga_folder"; 
  grid-template-rows: 100px 40px 
  /*minmax(100px, 400px) */
fit-content(50%)
  100px;
  grid-template-columns: 1fr 3fr;


/*background-color: #5e5e5e;*/
}
.m_header{
	grid-area: ga_header;
	background-color: #F7C3C3;
	text-align: center;
	align-items: center;
}
.m_menu{
	grid-area: ga_menu;
	/*grid-column: 1 / 3;*/
/*background-color: green;*/
background-color: #A0CDFC;
}
.m_nav{
	grid-area: ga_nav;
	/*grid-column: 1 / 2;*/
background-color: #D1F789;
}

.m_post{
	grid-area: ga_post;
	background-color: #B3F7ED;
	
}
.m_folder{
	grid-area: ga_folder;
	background-color: cyan;
	/*height: 100px;*/

}
