.myb{
width: 250px;
height: 80px;
margin: 3px;

background-color: gray;

}

.myb:nth-child(odd){
background-color: blue;

}

.m_green{
	height: 80px;
	background-color: green;
}

.m_red{
	height: 80px;
	background-color: red;
}